

header {
    background-image: url(screen.png);
    width: 900px;
    height: 310px;
    color: aliceblue;
    font-family: Arial;
    margin: 0px;
    border: 0px;
    padding: 0;
}

#imageParent {
   position:relative
}

header > img {
    float:right;
    padding-right:20px;
    padding-top:20px;
    width: 270px; 
 }

.circ {
    position:relative;
    float:right;
    width:300px;
    height:300px;
    border:2px solid red;
}

header > h1 {
    padding-top: 50px;
    padding-left: 40px;
    width:40%;
}

header > h2 {
    padding-left: 45px;
    padding-top:  30px;
    border:5px;
    }

header > p {
   padding-left: 45px;
     
 }

table {
    width: 900px;
    border: 0px;
    margin: 0px;
    border-spacing:0px;
}
#EducationAndExperience {
    padding-left: 45px;
    padding-bottom: 30px;
    background-color: silver;
    width: 550px;
    font-family: Arial;
}

#ContactAndSkills {
    padding-left: 15px;
    padding-right:10px;
    vertical-align:top;
    background-color: Crimson;
    color: white;
    font-family: Arial;
}
  
div #contact{
    margin:1px;
}

p {
    margin:1px;
}

#MSkills{
    margin-top:5px;
    font-weight:bold;
}

#TSkills {
    margin-top: 5px;
    font-weight: bold;
}

footer{
    width:900px;
}

hr{
    float:left;
    width:900px;
}


